{% extends 'RentingApp/main.html' %}
{% load static %}
{% block content %}
<style>
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e1ead2;
  }

  .container {
    text-align: center;
    font-family: 'Josefin Slab', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 50px;
    color: white !important;
    /* Add this line to set the color to white */
  }

  .change-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-box {
    background-color: #e1ead2;
    width: 100%;
    height: 75%;
    margin: 16px 0;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: right;
    border-radius: 6px;
  }

  .input-box label {
    font-size: 25px;
  }

  .input-box input {
    width: 100%;
    padding: 5px;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 18px;
  }

  .btn-finish {
    background-color: #568e63 !important;
    color: #000000;
    padding: 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width: 300px;
    height: 50px;
    align-items: center;
    font-family: 'Josefin Slab', sans-serif;
    margin: 0;
  }
</style>
<div class="container d-lg-block col-lg-5">
  <h1>Change Password</h1>
  <form class="change-password-form" method="POST" action="">
    {% csrf_token %}
    <div class="input-box shadow">
      <label for="old_password">Current Password</label>
      <input type="password" id="old_password" name="old_password" placeholder="Enter your current password">
    </div>
    <div class="input-box shadow">
      <label for="new_password1">New Password</label>
      <input type="password" id="new_password1" name="new_password1" placeholder="Enter your new password">
    </div>
    <div class="input-box shadow">
      <label for="new_password2">Confirm Password</label>
      <input type="password" id="new_password2" name="new_password2" placeholder="Confirm your new password">
    </div>
    <div class="d-flex justify-content-around align-items-center mb-4">
      <p id="messages">{{form.errors}}</p>
    </div>
    <div>
      <input type="submit" class="btn-finish btn-info" value="Submit">
    </div>
  </form>
</div>
{% endblock %}