{% extends 'RentingApp/main.html' %}
{% load static %}
{% block content %}


<html>
<head>
   <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
   <script>
      $(function() {
         $("#includeHtml").load("navbar.html");
      });
   </script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

   <style>
    body {
      background-color: #f8f9fa;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    .container {
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin-top: 50px;
    }
    .th {
  display: flex;
  align-items: center;
}
.table th,
.table td {
  text-align: center; 
  vertical-align: middle;
}
  </style>
</head>
<body>
    {% if len1 != 0 %}
    <div id="includeHtml"></div>
    <div class="container-fluid">
        <div class="container">
          <h2 class="mb-4">History</h2>
          <div class="table-responsive">
            <table class="table border-bottom" >
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Vehicle Name</th>
                  <th scope="col">Start date</th>
                  <th scope="col">End date</th>
                  <th scope="col">Total</th>
                  <th scope="col">Seeker</th>
                </tr>
              </thead>
              <tbody>
                {% for i in requests %}
                <tr>
                    <td><a href="{% url 'productview' i.vehicle.id %}"><img src="{{i.vehicle.image.url}}"
                        style="height: 150px;width: 200px;"></img></a>
                  <td><a href="{% url 'productview' i.vehicle.id %}">{{i.vehicle.model}}</a></td>
                    <td>{{i.start_date}}</td>
                    <td>{{i.end_date}}</td>
                    <td>{{i.total}}</td>
                    <td><a href="{% url 'profilepath' i.seeker.id %}">{{i.seeker}}</a></td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
</body>
{% else %}
<div class="container-fluid">
    <div class="container">
        <h2 class="mb-4">No History Yet</h2>
        <div class="table-responsive">
    </div>
    </div>
    </div>
{% endif %}
</html>

{% endblock %}
