/* Change font-family of the whole page */

* {
    font-family: 'Josefin Slab';
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.vehicle-list {
    list-style: none;
    /* Adjust the width as needed */
    margin-top: 8%;
}

/* Items in the list */

.vehicle-item {
    border: 1px solid black;
    margin-top: 8%;
    padding: 45px;
    /* Increase the padding to make the items larger */
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 8px black;
    background-color: #37505c;
}

.vehicle-image {
    max-width: 200px;
    /* Increase the max-width to make the images larger */
    margin-right: 50px;
    /* Increase the margin to create more spacing */
    border-radius: 8px;
    box-shadow: 3px 3px 6px black;

}

/* To have same length of all row*/

.vehicle-details {
    flex: 1;
    font-size: 1.25em;
    color: white;

}


/* To stack buttons into a single column */

.button-container {
    display: flex;
    flex-direction: column;
    /* Stack buttons vertically */

}


/* To change button size */

.button {
    color: white;
    border: none;
    padding: 0.5em 2em;
    /* Increase the padding to make the buttons larger */
    cursor: pointer;
    text-decoration: none;
    /* Remove the default hyperlink underline */
    margin: 5px 0;
    /* Add spacing between stacked buttons */
    border-radius: 6px;
    text-align: center;
}


/* Change edit button colour */

.edit-button {
    background-color: #28a745;
    box-shadow: 3px 3px 6px black;
}

/* Change remove button color */

.remove-button {
    background-color: #dc3545;
    box-shadow: 3px 3px 6px black;
}

.msg-container {
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

.redirect {
    width: 50%;
    margin-left: 8.444%;
}



/* To make it responsive */

@media (max-width: 800px) {
    * {

        font-size: 90%;
    }

    .vehicle-image {

        width: 60px;
    }

    .vehicle-list {

        margin-top: 25%;
        margin-left: 1%;
        margin-right: 0%;
        width: 100%;
        font-size: 80%;
    }

    

    .vehicle-item{

        padding: 12px;
        border-radius: 8.5px;
    }
    .msg-container {

        margin-top: 22%;
        margin-left: 16%;

    }

}
