{% extends 'RentingApp/main.html' %}

{% block content %}

<h1>History for taken on Rent</h1>
<div class="row">

    <div class="col-md">
        <div class="card card-body">

            <table class="table table-sm">
                <tr>
                    <th>Vehicle</th>
                    <th>Start_date</th>
                    <th>End_date</th>
                    <th>Total</th>
                    <th>Owner</th>
                </tr>

                {% for i in requests1 %}

                <tr>
                    <th>{{i.vehicle.model}}</th>
                    <th>{{i.start_date}}</th>
                    <th>{{i.end_date}}</th>
                    <th>{{i.total}}</th>
                    <th>{{i.vehicle.owner}}</th>
                </tr>

                {% endfor %}

            </table>
        </div>

    </div>
</div>
<br><br>

<h1>History for Given on Rent</h1>
<div class="row">

    <div class="col-md">
        <div class="card card-body">

            <table class="table table-sm">
                <tr>
                    <th>Vehicle</th>
                    <th>Start_date</th>
                    <th>End_date</th>
                    <th>Total</th>
                    <th>Owner</th>
                </tr>

                {% for i in requests2 %}

                {% endfor %}

            </table>
        </div>

    </div>
</div>

{% endblock %}
<!-- {% block content %} -->
