{% extends 'RentingApp/main.html' %}
{% load static %}
{% block content %}

<!-- Page Contains User's Vehicle Information -->

<div class="row">
    <div class="col-md-3">
        <div class="card card-body">
            <img class="profile-pic" src="{{vehicle.image.url}}">
            
        </div>
    </div>

    <div class="col-md-9">
        <div class="card card-body">
            company:
            {{vehicle.company}}
            <br>
            model:
            {{vehicle.model}}
            <br>
            price:
            {{vehicle.price}}
            <br>
            fuel_type:
            {{vehicle.fuel_type}}
            <br>
            seats:
            {{vehicle.seats}}
            <br>
            about:
            {{vehicle.about}}
            <br>
            city:
            {{vehicle.city}}
            <br>
        </div>
    </div>

</div>

<a href="{% url 'edit_vehicle' vehicle.id %}">Edit Profile</a>
{% endblock %}