{% extends 'RentingApp/main.html' %}
{% load static %}
{% block content %}

<style>
    body {
        font-family: 'Josefin Slab', sans-serif;
        background-color: #F5F5F5;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .profile-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        background-color: #F5F5F5;
        padding: 20px;
    }

    .profile-picture {
        width: 200px;
        height: 200px;
        background-image: url({{customer.profile_pic.url}});
        background-size: cover;
        background-position: center;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-details {
        flex: 1;
        padding: 20px;
    }
    .profile-details-heading {
        background-color: #ef8354;
        padding: 10px;
        border-radius: 5px;
        font-size: 35px;
        margin-bottom: 10px;
        width: 100%;
    }

    .user-attribute {
        width: 100%;
        height: 35px;
        font-size: 18px;
        background-color: #bfc0c0;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .edit-profile-link {
        font-size: 18px;
        text-decoration: underline;
        cursor: pointer;
        position: absolute;
        top: 250px;
        left: 75px;
    }
</style>

<div class="profile-container">
    <div class="profile-picture"></div>
    
    <div class="profile-details">
        <!-- Profile Details Heading -->
        <div class="profile-details-heading">Profile Details</div>
        <div class="user-attribute">First Name: {{customer.firstname}}</div>
        <div class ="user-attribute">Last Name: {{customer.lastname}}</div>
        <div class="user-attribute">Email: {{customer.email}}</div>
        <div class="user-attribute">Gender: {{customer.gender}}</div>
        <div class="user-attribute">Mobile Number: {{customer.contact_no}}</div>
        <div class="user-attribute">City: {{customer.city}}</div>
        <div class="user-attribute">State: {{customer.state}}</div>
        <div class="user-attribute">Country: {{customer.country}}</div>
    </div>
</div>

{% endblock %}
