{% extends 'RentingApp/main.html' %}

{% block content %}

<h1>Your Requests</h1>
<div class="row">

    <div class="col-md">
        <div class="card card-body">

            <table class="table table-sm">
                <tr>
                    <th>Vehicle</th>
                    <th>Start_date</th>
                    <th>End_date</th>
                    <th>Number of days</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Owner</th>
                </tr>

                {% for i in requests1 %}

                <tr>
                    <th>{{i.vehicle.model}}</th>
                    <th>{{i.start_date}}</th>
                    <th>{{i.end_date}}</th>
                    <th>{{i.number_of_days}}</th>
                    <th>{{i.total}}</th>
                    <th>{{i.status}}</th>
                    <th>{{i.vehicle.owner}}</th>
                </tr>

                {% endfor %}

            </table>
        </div>

    </div>
</div>

<h1>Your Vehicle's requests</h1>
<div class="row">

    <div class="col-md">
        <div class="card card-body">

            <table class="table table-sm">
                <tr>
                    <th>Vehicle</th>
                    <th>Start_date</th>
                    <th>End_date</th>
                    <th>Number of days</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Seeker</th>
                </tr>

                {% for i in requests2 %}

                <tr>
                    <th>{{i.vehicle.model}}</th>
                    <th>{{i.start_date}}</th>
                    <th>{{i.end_date}}</th>
                    <th>{{i.number_of_days}}</th>
                    <th>{{i.total}}</th>
                    <th>{{i.status}}</th>
                    <th>{{i.seeker}}</th>
                    <th><a class ='button' href="{% url 'reject_request' i.id %}">Reject</a></th>
                </tr>

                {% endfor %}

            </table>
        </div>

    </div>
</div>

{% endblock %}
